*, *::after, *::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text",ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
html {
   background-image: linear-gradient(#EDF2FE 5%,#FDFDFE 90%);
   min-height: 100%;
   align-items: center
}
#__nuxt {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh
}
p {
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 0.00938em
}
a { text-decoration: none }

.grid-container {
   display: flex;
   justify-content: center
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-content: center;
   grid-gap: 10px
}

.CreatePrompt {
   min-width: 290px;
   min-height: 120px;
   border-radius: 7px;
   border: 1px solid black;
   margin: 50px;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center
}

.CreatePrompt:hover {
   box-shadow: 0 0 11px rgba(33,33,33,.3)
}

@media screen and (max-width: 1070px){
   .grid {
      grid-template-columns: repeat(2, 1fr)
   }
}

@media screen and (max-width: 785px){
   .grid {
      grid-template-columns: repeat(1, 1fr)
   }
}